
module mypol 1.0;

require {
	type mysqld_port_t;
	type var_log_t;
	type httpd_t;
	type httpd_sys_content_t;
	class tcp_socket name_connect;
	class dir write;
	class file open;
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t httpd_sys_content_t:dir write;

#!!!! This avc is allowed in the current policy
allow httpd_t mysqld_port_t:tcp_socket name_connect;

#!!!! This avc is allowed in the current policy
allow httpd_t var_log_t:file open;
